* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  display: block; /* Mudei para block pois não precisa mais de flex aqui */
  width: 100%;
}

header {
  width: 89%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 20px;
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
}

header .logo p {
  margin-left: 0.25rem;
  color: #374151;
  font-weight: 600;
}

header .logo span {
  font-size: 1.5rem;
  font-weight: 700;
  color: #4caf50;
}

header .logo .folha {
  color: #4caf50;
  font-size: 1.5rem;
  font-weight: 900;
  margin-right: 0.5rem;
}

header nav ul {
  display: flex;
  gap: 2.5rem;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  color: #374151; /* text-gray-700 (cinza escuro) */
  transition: color 0.2s ease; /* transition (transição suave) */
  text-decoration: none;
}

header nav ul li a:hover {
  color: #4caf50;
}

.hero {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/photo-1571019613454-1cb2f99b2d8b.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.hero .wrapper {
  width: 54%;
  margin-left: 3rem;
  display: flex;
  padding: 45px;
}

.hero h2 {
  font-size: 4rem;
  line-height: 4rem;
}

.hero h4 {
  font-size: 1.4rem;
  font-weight: 500;
}

footer {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid green;
}

.hero .btn {
  background-color: #4caf50;
  padding: 16px 24px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 30px;
  border: 0px;
  margin-top: 16px;
  width: max-content;
  transition: all 0.4s ease;
}

.hero .btn:hover {
  transform: scale(1.1);
}

.beneficios {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid red;
}

.sobre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 75px;
  background-color: rgb(245, 245, 245);
}

.sobre .imagemRun {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: bounce 3s infinite;
}

.sobre .about {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sobre .about h1 {
  font-size: 1.875rem; /* Equivalente a text-3xl */
  font-weight: 700; /* Equivalente a font-bold */
  margin-bottom: 0.5rem; /* Equivalente a mb-6 */
  color: #1f2937; /* Equivalente a text-gray-800 (valor hex para gray-800 no Tailwind) */
}

.fundoIcon {
  background-color: #edf7ed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem; /* p-2 (8px) */
  border-radius: 9999px; /* rounded-full */
  margin-right: 0.75rem; /* mr-3 (12px) */
}

.sobre .about .joao p {
  font-size: 1rem; /* 18px - equivalent to text-lg */
  margin-bottom: 1.5rem; /* 24px - equivalent to mb-6 */
  color: #4b5563; /* equivalent to text-gray-600 */
}

.sobre .about .cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.sobre .about .cards .card .icon {
  align-items: center;
  color: #4caf50;
}

.sobre .about .cards .card {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  padding: 16px 20px;
  border-radius: 0.5rem; /* rounded-lg (8px) */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); /* shadow-sm */
}

.sobre .about .cards .card p {
  font-weight: 500;
  color: #1f2937;
}

.sobre .run {
  width: 58%;
  height: 58%;
  border-radius: 2%;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
